<%- include('partials/header') %>

<h1>Home</h1>
<p> <%= homeContent %> </p>

<div>
<% post.forEach((ele) => { %>

    <% function truncateString(string, limit) { %>
      <% if (string.length <= limit) { %>
        <% return string %>
      <% } %>
        <% return string.slice(0, limit) + "..." %>
  <% } %>

    <h1><%= ele.title %></h1>

   <p><%= truncateString(ele.postContact, 170) %> 
    <a href="/posts/<%=ele.title%>">Read more</a> 
  </p>
<% }) %>
</div>

<%- include('partials/footer') %>
